* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

header {
    background-color: #0A446D;
    text-align: center;
    color: white;
    padding: 1rem;
}

#img__perfil {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 50%;
    margin: 1rem 0;
}

footer {
    background-color: #0A446D;
    text-align: center;
    color: white;
    padding: 1rem;
}

.principal {
    max-width: 60rem;
    margin: 3em auto 5em auto !important;
    padding: 0 1.5rem;
}

.conteudo {
    background-color: white !important;
    padding: 1.5em !important;
    margin-top: 1.5em !important;
    border-radius: 1rem !important;
    width: 100%;
    display: flex;
    align-items: center;
    transition: transform 0.1s;
}

.conteudo:hover {
    transform: scale(1.01);
}

a {
    text-decoration: none !important;
    color: black;
}

.img-icone {
    width: 100% !important;
    max-width: 5rem;
}

.txt-icone {
    font-size: 1.8rem !important;
    margin: 0;
    padding-left: 1rem;
}

@media (max-width: 768px) {

    #img__perfil {
        width: 10rem;
        height: 10rem;
    }

    .principal {
        margin: 2em auto 10em auto !important;
        max-width: 90%;
    }

    .conteudo {
        padding: 1em !important;
        margin-top: 1em !important;
        border-radius: 0.8rem !important;
    }

    .txt-icone {
        font-size: 1.6rem !important;
    }
}