* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

header {
    background-color: #0A446D;
    text-align: center;
    color: white;
    padding: 1rem;
}

#img__perfil {
    width: 10%;
    border-radius: 50%;
}

footer {
    background-color: #0A446D;
    text-align: center;
    color: white;
    padding: 1rem;
}

.conteudo {
    background-color: white !important;
    padding: 2em !important;
    margin-top: 1em !important;
    border-radius: 3rem !important;
    width: 100%;
}

a {
    text-decoration: none !important;
    color: black;
}

.principal {
    margin-left: 25% !important;
    margin-right: 25% !important;
    margin-top: 1% !important;
    margin-bottom: 15% !important;
}

.img-icone {
    width: 100% !important;
}

.txt-icone {
    font-size: 200% !important;
}

@media (min-width: 200px) and (max-width: 700px) {
    .img-icone {
        width: 250% !important;
    }

    .txt-icone {
        font-size: 220% !important;
    }

    .conteudo {
        background-color: white !important;
        padding: 1em !important;
        margin-top: 2em !important;
        border-radius: 1rem !important;
        width: 130%;
    }

    .principal {
        text-align: center;
        margin-left: 10% !important;
        margin-right: 25% !important;
        margin-top: 1% !important;
        margin-bottom: 50% !important;
    }

    #img__perfil {
        width: 10% !important;
        border-radius: 50% !important;
    }
}